<div class="wrapper" *ngIf="carta">
  <div class="row mb-3">
    <div class="col"><h1>Detalles de la Tarjeta</h1></div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <h3>{{ carta.name }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img [src]="carta.card_images[0].image_url_small" />
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      {{ carta.desc }}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-4 col-md-4">
      <h5>Attack: {{ carta.atk || 'None' }}</h5>
    </div>
    <div class="col-sm-4 col-md-4">
      <h5>Defense: {{ carta.def || 'None' }}</h5>
    </div>
    <div class="col-sm-4 col-md-4">
      <h5>Level: {{ carta.level || 'None' }}</h5>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <a routerLink="/" class="btn btn-outline-primary">Regresar</a>
  </div>
</div>
